phantomjs_cdnurl=http://af.888holdings.corp/General-Files/phantomjs/
registry=http://af.888holdings.corp/api/npm/npm-virtual
strict-ssl=false
sass_binary_site=http://af.888holdings.corp/General-Files/node-sass-binaries/
;proxy=http://smaster:MasterS1@10.20.5.226:8080/
;https-proxy=http://smaster:MasterS1@10.20.5.226:8080